// ================================
// @@ Bootstrap
// ================================
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

// ================================
// @@ Fonts
// ================================
@import "../bower_components/font-awesome/css/font-awesome.css"

@font-face
  font-family: 'racing_sans_oneregular'
  src: url('../fonts/racingsansone-regular-webfont.woff2') format('woff2')
  src: url('../fonts/racingsansone-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

// ================================
// @@ BASE
// ================================

@import "base/reset"
@import "base/base-styles"

// ================================
// @@ LAYOUT
// ================================

@import "layout/home-page"