// ///////////////////////////
// @@ HOME PAGE
// ///////////////////////////

.path-frontpage
  background: $dark-gray

.home-container
  height: 100vh
  min-height: 100vh
  padding-top: 20px
  .site-branding
    position: relative
    top: 45%
    transform: translateY(-45%)
    .logo
      margin-top: 30px
    .title
      h1
        color: white
        font-size: 7em
        margin-top: 0
        margin-bottom: 0

+mQuery(479px)
  .home-container
    .site-branding
      top: 30%
      transform: translateY(-30%)
      .logo
        img
          width: 40%
          height: auto
      .title
        h1
          font-size: 3em