// ///////////////////////////
// @@ HOME PAGE
// ///////////////////////////
.home-container
  height: 100vh
  min-height: 100vh
  .site-branding
    position: relative
    top: 50%
    transform: translateY(-50%)
    .title
      h1
        color: white
        font-size: 7em
        margin-top: 0
        margin-bottom: 0