// ================================
// @@ Bootstrap
// ================================
@import "../bower_components/bootstrap/dist/css/bootstrap.css"

// ================================
// @@ Fonts
// ================================
@import "../bower_components/font-awesome/css/font-awesome.css"

// bovenstaande imports zien vanuit de styles.css file in de map css
// zouden dit .sass imports zijn dan valt ../ weg omdat dit dan vanaf
// de styles.sass file wordt geimporteerd vanaf de root

@font-face
  font-family: 'racing_sans_oneregular'
  src: url('../fonts/racing/racingsansone-regular-webfont.woff2') format('woff2')
  src: url('../fonts/racing/racingsansone-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sansregular'
  src: url('../fonts/open_sans/opensans-regular-webfont.woff2') format('woff2')
  src: url('../fonts/open_sans/opensans-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'open_sansbold'
  src: url('../fonts/open_sansBold/opensans-bold-webfont.woff2') format('woff2')
  src: url('../fonts/open_sansBold/opensans-bold-webfont.woff') format('woff')
  font-weight: bold
  font-style: normal

// ================================
// @@ BASE
// ================================

@import "sass/base/all"

// ================================
// @@ MIXIN
// ================================

@import "sass/mixin/all"

// ================================
// @@ LAYOUT
// ================================

@import "sass/layout/all"

// ================================
// @@ REGIONS
// ================================

@import "sass/regions/all"

// ================================
// @@ COMPONENTS
// ================================

@import "sass/components/all"

// ================================
// @@ CONTENT
// ================================

@import "sass/content/all"

// ================================
// @@ VENDOR
// ================================

@import "sass/vendor/all"

