{#
/**
 * Created by Stefan on 16/05/2017.
 */
#}

<div class="member-join-wrap">
  <div class="close-btn">
    <i class="fa fa-times fa-3x" aria-hidden="true"></i>
  </div>
  <div class="member-content">
    <h2>LID WORDEN</h2>
    <p>Overtuigd van de voordelen? Meer inlichtingen? Technische vragen? Neem vrijblijvend contact op met
      "Spitfireclub Vlaanderen" Wij proberen u zo spoedig mogelijk te contacteren!</p>

      <p>Gebruik onderstaand formulier, stuur ons een e-mail of schrijf naar:</p>

      <p>Spitfireclub Vlaanderen vzw<br>
      Ridderstraat 12<br>
      3800 Sint-Truiden<br>

      <p>lidgeld: 30€ voor het spitjaar 2016</p>

      <p>tel:0495/548565<br>
      club rekening nummer: BE40-0682-4388-1063   BIC/GKCCBEBB<br>

      evenementen rekening club: BE63 3770 5307 5508 BIC/ BBRUBEBB<br>

      ondern. num 0870.905.095</p>
  </div>
</div>