{#
/**
 * Menu cta top op elke pagina
*/
#}

<nav class="container-fluid nav-page_top">
  <div class="btn-hamburger_menu">
    {#<label>MENU</label>#}
    <i class="hamburger-img fa fa-bars" aria-hidden="true"></i>
  </div>
  <div class="social-icons">
    <a href="https://www.facebook.com/groups/spitfireclubvlaanderen/" target="_blank">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  </div>

  <div class="menu-wrap_cta">
    <ul>
      <li><a href="{{ base_path }}agenda">{{ "AGENDA" }}</a></li>
      <li><a class="member-join_link" href="#">{{ "LID WORDEN" }}</a></li>
      <li><a href="{{ path('<front>') }}">HOME</a></li>
    </ul>
  </div>
</nav>