{#
/**
 * Menu cta top op elke pagina
*/
#}

<nav class="container-fluid nav-page_top">
  <div class="btn-hamburger_menu">
    <label>MENU</label>
    <i class="hamburger-img fa fa-bars fa-3x" aria-hidden="true"></i>
  </div>
  <div class="menu-wrap_cta">
    <ul>
      <li><a href="{{ base_path }}agenda">{{ "AGENDA" }}</a></li>
      <li><a href="#">LID WORDEN</a></li>
    </ul>
  </div>
</nav>