{#
/**
 * Menu cta top op elke pagina
 * _nav-page_top.sass en fixnav.js
*/
#}

<nav class="nav-page_top navbar-fixed-top">
  <div class="btn-hamburger_menu bars-icon">
    {#<label>MENU</label>#}
  </div>
  <div class="social-icons">
    <a class="facebook-icon" href="https://www.facebook.com/groups/spitfireclubvlaanderen/" target="_blank">
    </a>
  </div>

  <div class="menu-wrap_cta">
    <ul>
      <li><a href="{{ base_path }}agenda">{{ "AGENDA" }}</a></li>
      <li><a class="member-join_link" href="#">{{ "LID WORDEN" }}</a></li>
      <li><a href="{{ path('<front>') }}">HOME</a></li>
    </ul>
  </div>
</nav>