{#
/**
 * News enkel  op de front-page onderaan rechts
 * op 2017/07/01 een module die ook zou kunnen dienen
 * om te controleren of er content is misschien in een view.html.twig file
 * https://www.drupal.org/project/twig_render_this
*/
#}
<section class="news-wrap">
  <div class="news-title-wrap">
    <div class="news-title"><h5>Nieuws</h5></div>
    <div class="news-show-hide-wrap">
      <a href="#" class="show-hide-icon"></a>
    </div>
  </div>
  <div class="news-body">
    {{ page.news }}
  </div>
</section>