{#
/**
 * Header op de pages een opsomming van deze
 *
*/
#}

<header>
  <div class="row">
    <div class="col-md-9">
      <h1>SPITFIRECLUB VLAANDEREN</h1>
    </div>
    <div class="col-md-3">
      <a href="{{ path('<front>') }}">
        <img src="{{ base_path ~ directory }}/images/logo.png" alt="Logo Spitfireclub Vlaanderen">
      </a>
    </div>
  </div>
</header>