// /////////////////////////
// @@ CONTACT BLOCK
// ////////////////////////

.block-contact-block
  h2
    margin-bottom: 5px
  .form-control
    border-radius: 0
    color: $dark-gray
    border: $dark-gray
  .form-textarea
    height: 85px
  #edit-preview
    display: none