// /////////////////////////
// @@ AGENDA
// ////////////////////////
// bij full view content op witte achtergrond, bij de teaser worden de tegels op
// een grijze achtergrond getoond zowel bij de full als teaser node zitten we met
// dezelfde structuur agenda-page-wrap/agenda-page-content om toch een verschil
// te maken gebruik gemaakt van de body class page-node-type-agenda (page--agenda.html.twig)

// FULL VIEW
// ==================================================
.page-node-type-agenda
  .agenda-page-wrap
    background-color: white
    .agenda-page-content
      h2
        color: $dark-gray
  .agenda_beyond
    // melding voorbije agenda-items op full view verbergeb
    display: none
  .agenda_overview
    display: block
    padding: 15px 0 15px 15px
    a
      color: $dark-gray

// node--agenda--full.html.twig
// ===================================================
.agenda_date
  margin-bottom: 1em
  font-size: 1.25em
  padding: 0.35em
  background-color: $dark-gray
  color: white
  // the icon on components/_fontawesome-icons.sass

.agenda-node-content
  padding: 0 25px
  .agenda_body
  .agenda_file
    border-top: 1px solid $dark-gray
    margin-top: 1em
    padding-top: 1em



// TEASER VIEW
// ====================================================
.path-agenda
  // melding voorbije agenda-items enkel op teaser view
  .agenda_beyond
    display: block
    clear: both
    padding: 15px 0 15px 15px
    a
      color: white
  .agenda_overview
    display: none

.agenda-page-wrap
  padding: 1em
  background-color: $dark-gray
  margin-top: 10px
  .agenda-page-content
    display: block
    h2
      color: white
      margin-left: 15px


  .agenda-teaser-wrap
    padding: 1em
    background-color: white
    height: 350px
    margin-bottom: 30px

  .agenda-teaser-title
    margin-bottom: 10px
  .agenda-teaser-date
    font-family: 'racing_sans_oneregular'
    color: $dark-gray
    text-align: center
    margin: 35px 0
    font-size: 4em
  .agenda-teaser-body
    min-height: 125px
  .agenda_readmore
    text-align: right
    margin-top: 1em
  .readmore_hide
    display: none

  // opmaak voorbije agenda-items
  .agenda-item-past
    color: $gray
    .agenda-overlay
      position: absolute
      top: 0px
      left: 140px
      width: 1px
      height: 350px
      background: $gray
      transform: rotate(35deg)
    .agenda-teaser-date
      color: $gray

+mQuery(479px)
  .agenda-teaser-wrap
    .agenda-item-past
      //display: none
