// /////////////////////////
// @@ AGENDA
// ////////////////////////

// FULL VIEW
// ==================================================
.agenda_date
  margin-bottom: 1em
  font-size: 1.25em
  padding: 0.35em
  background-color: $dark-gray
  color: white
  &:before
    font-family: FontAwesome
    content: "\f073"
    float: left
    margin-right: 0.4em
.agenda_file
  border-top: 1px solid $dark-gray
  margin-top: 1em
  padding-top: 1em


// TEASER VIEW
// ====================================================
.agenda-page-wrap
  padding: 1em
  background-color: $dark-gray
  margin-top: 10px
  .agenda-page-content
    display: block
    h2
      color: white
      margin-left: 15px
  .agenda_beyond
    clear: both
    padding: 15px 0 15px 15px
    a
      color: white

  .agenda-teaser-wrap
    padding: 1em
    background-color: white
    height: 350px
    .agenda-teaser-title
      margin-bottom: 10px
    .agenda-teaser-date
      font-family: 'racing_sans_oneregular'
      color: $blue-spitfire
      text-align: center
      margin-bottom: 45px
      font-size: 4em
    .agenda_readmore
      text-align: right
      margin-top: 1em
    .readmore_hide
      display: none