// /////////////////////////
// @@ BOARD MEMBERS
// ////////////////////////

.boardmember
  background: white
  color: $dark-gray
  padding: 35px
  overflow: hidden
  margin-bottom: 35px
  h5
    margin-bottom: 0.8em

.boardmember_phone_mobile-view
  display: none
  a
    color: white

.boardmember_phone
  display: block

+mQuery(479px)
  .boardmember_phone_mobile-view
    display: block

  .boardmember_phone
    display: none