// ///////////////////////////
// @@ NAV PAGE-TOP
// ///////////////////////////

// afhankelijk van soort pagina wordt color white/black

.nav-page_top //default black
  color: black
  .menu-wrap_cta
    li
      border-right: solid 1px black
  a, .btn-hamburger_menu
    color: rgba(0, 0, 0, 1)
    &:hover
      color: rgba(0, 0, 0, 0.5)
      transition: all 0.3s ease-in-out


.path-frontpage, .page-node-type-aankopen, .page-node-type-geschiedenis
  .nav-page_top //white menu
    color: white
    .menu-wrap_cta
      li
        border-right: solid 1px white
    a, .btn-hamburger_menu
      color: rgba(255, 255, 255, 1)
      &:hover
        color: rgba(255, 255, 255, 0.5)
        transition: all 0.3s ease-in-out


.nav-page_top
  font-family: open_sansbold
  font-size: 1.4em
  margin-left: 20px
  a
    &:hover
      text-decoration: none

  .btn-hamburger_menu, .social-icons
    cursor: pointer
    display: block
    float: left
    margin-right: 50px
  .social-icons
    padding-top: 10px
    .hamburger-img
      vertical-align: middle
    label
      padding-right: 15px
  .menu-wrap_cta
    padding-top: 10px
    li
      display: block
      float: left
      padding-right: 30px
      padding-left: 30px
      &:last-child
        padding-right: 0
        border: none

+mQuery(479px)
  .nav-page_top
    font-size: 1em
    margin-left: 10px
    .btn-hamburger_menu
      margin-right: 15px
    .social-icons
      display: none
    .menu-wrap_cta
      li
        padding-right: 10px
        padding-left: 10px


