// ///////////////////////////
// @@ NAV PAGE-TOP
// ///////////////////////////

// afhankelijk van soort pagina wordt color white/black

.nav-page_top //default black
  color: black
  background: rgba(255, 255, 255, 0.1)
  .menu-wrap_cta
    li
      border-right: solid 1px black
  a, .btn-hamburger_menu
    color: rgba(0, 0, 0, 1)
    &:hover
      color: rgba(0, 0, 0, 0.5)
      transition: all 0.3s ease-in-out
  &.fixednav
    background: rgba(255, 255, 255, 0.9)



.path-frontpage, .page-node-type-aankopen, .page-node-type-geschiedenis
  .nav-page_top //white menu
    color: white
    background: rgba(0, 0, 0, 0.1)
    .menu-wrap_cta
      li
        border-right: solid 1px white
    a, .btn-hamburger_menu
      color: rgba(255, 255, 255, 1)
      &:hover
        color: rgba(255, 255, 255, 0.5)
        transition: all 0.3s ease-in-out
    &.fixednav
      background: rgba(0, 0, 0, 0.7)


.nav-page_top
  font-family: open_sansbold
  font-size: 1.4em
  padding: 20px 35px
  z-index: 900
  a
    &:hover
      text-decoration: none

  .btn-hamburger_menu, .social-icons
    cursor: pointer
    display: block
    float: left
    margin-right: 50px
    .hamburger-img
      margin-top: 8px
  .social-icons
    padding-top: 6px
    label
      padding-right: 15px
  .menu-wrap_cta
    padding-top: 0
    ul
      & > li
        margin: 0
    li
      display: block
      float: left
      padding-right: 30px
      padding-left: 30px
      &:last-child
        padding-right: 0
        border: none



+mQuery(479px)
  .page-node-type-aankopen //, .page-node-type-geschiedenis
    .nav-page_top
      color: black
      .menu-wrap_cta
        li
          border-right: solid 1px black
          &:last-child
            padding-right: 0
            border: none
      a, .btn-hamburger_menu
        color: rgba(0, 0, 0, 1)
        &:hover
          color: rgba(0, 0, 0, 0.5)

  .nav-page_top
    font-size: 1em
    padding: 15px
    .btn-hamburger_menu
      margin-right: 15px
    .social-icons
      display: none
    .menu-wrap_cta
      li
        padding-right: 10px
        padding-left: 10px


+mQuery(321px)
  .nav-page_top
    font-size: 0.9em
    .btn-hamburger_menu
      margin-right: 10px
    .social-icons
      display: none
    .menu-wrap_cta
      li
        padding-right: 7px
        padding-left: 7px
