// ///////////////////////////
// @@ PAGE HEADER
// ///////////////////////////


+mQuery(1081px)
  .header-page
    margin-top: 15px
    h1
      font-size: 3em
      margin-top: 80px
    img
      width: 120px
      height: auto

+mQuery(497px)
  .header-page
    margin-top: 15px
    h1
      font-size: 2em
      margin-top: 0
    img
      width: 80px
      height: auto

+mQuery(321px)
  .header-page
    h1
      font-size: 1.8em
