<!--Menu left-->
{% include directory ~ '/templates/partials/menu_left.html.twig' %}

{#Lid worden#}
{% include directory ~ '/templates/partials/member-join.html.twig' %}

<section class="page-purchases-container">
  {# Menu top #}
  {% include directory ~ '/templates/partials/menu_top.html.twig' %}

  <div class="container">

    {# Page header #}
    {% include directory ~ '/templates/partials/page-header.html.twig' %}

    <article class="content-wrap">
      <div class="row">
        <div class="col-md-12">
          <div class="content-history text-center">
            {{ page.content }}
          </div>
        </div>
      </div>
    </article>
    <div class="arrow-down text-center">
      {#TODO image arrow down#}
      PIJL OMLAAG
    </div>
  </div>
</section>

{#hier het html stuk, tekst wordt nooit aangepast#}
<div class="html-history">
  <section class="gray-block">
    <div class="container text-center">
      <h3>Geschiedenis:</h3>
      <p>De Spitfire verscheen voor het eerst op het einde van 1962. Deze kleine roadster met een
        viercilindermotor van 1147cc was bedoeld als goedkoper alternatief voor de sterke TR4, en was gebouwd op een
        Triumph Herald chassis. <br>
        Het ontwerp was van de Italiaan Giovanni Michelotti, terwijl het mechanische gedeelte praktisch werd overgenomen
        van de Herald.De laatste Spitfire werd in augustus 1980 geproduceerd. op dat moment waren er zo'n 314.342 auto's
        van de band gerold, warvan er 242.918 stuks ge&ecirc;xporteerd werden.
        Dat is zo'n 77% van de productie. </p>
      <h3>Over de verschillende &quot;Marks&quot;</h3>
    </div>

    <div class="container content-marks">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          Image
        </div>
        <div class="col-md-9 col-sm-12">
          <h4>MK I </h4>
          <p>(Officieel bekend als Spifire 4, vanwege de 4 cilinders).<br>
            Okt. 1962 - dec. 1964. 45.573 stuks gebouwd 1147 cc. 63 PK.<br>
            Topsnelheid ongeveer 150 km/u. Chassis nrs.: FC1
            t/m FC44656. (Links gestuurde auto's hebben een &quot;L&quot; achtervoegsel) <br>
            Motor nrs. vanaf FC1
          </p>
        </div>
      </div>
    </div>

    <div class="container content-marks">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          Image
        </div>
        <div class="col-md-9 col-sm-12">
          <h4>MK II</h4>
          <p>Dec. 1964 - jan. 1967, 37.409 stuks gebouwd. 1147cc,67 PK.<br>
            Topsnelheid ongeveer 150 km/u.
            Chassis nrs. FC50001 - FC88904. Motornrs. vanaf FC50001...De motor is gemakkelijk te herkennen door het
            uitlaatspruitstuk wat gemaakt is van stalen buizen. (alle andere Spitfires hebben een gietijzeren
            spruitstuk).
            de MKII heeft ook een andere nokkenas en een waterverwarmd inlaatspruitstuk. Andere veranderingen waren
            tapijt, (MKI had rubberen matten) de metalen delen waren bedekt met vinyl en de auto had betere stoelen.
          </p>
        </div>
      </div>
    </div>

    <div class="container content-marks">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          Image
        </div>
        <div class="col-md-9 col-sm-12">
          <h4>MK III</h4>
          <p>Jan.1967 - dec.1970. 65.320 exemplaren geproduceerd. 1296 cc, 75 PK, topsnelheid ongeveer
            160 km/u. Chassis nrs.: FD1 - FD92803. Motor nrs. vanaf FD1 .
            Grootste
            veranderingen waren de 1300cc motor, andere voorbumper, andere knipper- en standlichten,
            grotere remklauwen. Negatief geaard (eerdere Spitfires waren positief geaard).
            ook had dit model een wegvouwbare kap, terwijl bij de eerdere Spitfires de kap
            afgenomen en in de kofferbak meegenomen moest worden. De allerlaatste modellen
            hadden slaapstoelen.</p>
          </p>
        </div>
      </div>
    </div>

    <div class="container content-marks">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          Image
        </div>
        <div class="col-md-9 col-sm-12">
          <h4>MK </h4>
          <p>IVDec. 1970
            - dec. 1974. 70.021 stuks gebouwd. 1296 cc., 63 PK, topsnelheid ongeveer 155
            km/u. Chassis nrs. FH3 - FH 64.995. Motor nrs.: vanaf FH1.
            De motorkap
            en de achterkant werden veranderd. de achterlichten waren zoals die van de Stag.
            Op de erste versnelling werd synchromesh toegepast. Het dashbord werd zodanig
            aangepast dat alle instrumenten voor de chauffeur zaten. De gelijkstroomdynamo
            werd vervangen door een wisselstroomdynamo. De zomerkap werd voorzien van een
            uitritsbare achterruit. In 1973 werden langere aandrijfassen gemonteerd en het
            dashbord veranderde van zwart plasic in notenhout met Smith instrumenten.
          </p>
        </div>
      </div>
    </div>

    <div class="container content-marks">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          Image
        </div>
        <div class="col-md-9 col-sm-12">
          <h4>1500</h4>
          <p>Dec.1974
            - aug.1980, 95.829 exemplaren gebouwd. 1493 cc, 71 PK, topsnelheid ongeveer
            160 km/u. Chassis nrs.: FH75.001 - .... Motor nrs.: vanaf FM 1.
            Grotere
            motor met 1 1/2&quot; SU-carburateurs(in plaats van de eerdere 1 1/4&quot;).
            Verbeterde versnellingsbak vergelijkbaar met die van de Morris marina. Bij auto's
            bestemd voor de export werden gescheiden remsystemen gemonteerd. vanaf chassis
            nr. 130.000 was dit ook het geval voor de Engelse markt. Een ventilator met
            visco-koppeling werd gemonteerd om de gewone vaste fan te vervangen.
            Vanaf
            eind 1977(vanaf chassis nr. FH100.000) kreeg de 1500 andere stoelhoezen en werden
            TR7 schakelaars aan de stuurkomom gemonteerd. (Deze auto's zij gemakkelijk te
            herkennen omdat ze electrische ruitensproeiers hebben)
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{#end html-purchases#}

{#Region footer contact#}
{% include directory ~ '/templates/partials/footer-contact.html.twig' %}

{#Region footer#}
{% include directory ~ '/templates/partials/page_footer.html.twig' %}
