<!--Menu left-->
{% include directory ~ '/templates/partials/menu_left.inc.html.twig' %}

{#Lid worden#}
{% include directory ~ '/templates/partials/member-join.inc.html.twig' %}

<section class="page-container">
  {# Menu top #}
  {% include directory ~ '/templates/partials/menu_top.inc.html.twig' %}

  <div class="container">
    {# Page header #}
    {% include directory ~ '/templates/partials/page-header.inc.html.twig' %}

    {% set classes = [
    'agenda-page-wrap',
    ] %}
    <article {{ attributes.addClass(classes) }}>
      <div class="row">
        <div class="agenda-page-content">
          {{ page.content }}
        </div>
        <div class="agenda_beyond">
          <a href="{{ base_path }}agenda-oud">Voorbije agenda items</a>
        </div>
      </div>
    </article>

  </div>
</section>

{# Region footer contact #}
{% include directory ~ '/templates/partials/footer-contact.inc.html.twig' %}

{# Region footer #}
{% include directory ~ '/templates/partials/page_footer.inc.html.twig' %}