<!--Menu left-->
{% include directory ~ '/templates/partials/menu_left.inc.html.twig' %}

{#Lid worden#}
{% include directory ~ '/templates/partials/member-join.inc.html.twig' %}

<section class="page-container">
  {# Menu top #}
  {% include directory ~ '/templates/partials/menu_top.inc.html.twig' %}

  <div class="container">

    {# Page header #}
    {% include directory ~ '/templates/partials/page-header.inc.html.twig' %}

    <article class="content-wrap">
      <div class="row">
        <div class="photo-page-content">
          {{ page.content }}
        </div>
      </div>
    </article>
  </div>
</section>

{#Region footer contact#}
{% include directory ~ '/templates/partials/footer-contact.inc.html.twig' %}

{#Region footer#}
{% include directory ~ '/templates/partials/page_footer.inc.html.twig' %}
