<!--Menu left-->
{% include directory ~ '/templates/partials/menu_left.html.twig' %}

{#Lid worden#}
{% include directory ~ '/templates/partials/member-join.html.twig' %}

<section class="page-purchases-container">
  {# Menu top #}
  {% include directory ~ '/templates/partials/menu_top.html.twig' %}

  <div class="container">

    {# Page header #}
    {% include directory ~ '/templates/partials/page-header.html.twig' %}

    <article class="content-wrap">
      <div class="row">
        <div class="col-md-12">
          <div class="content-purchases text-center">
            {{ page.content }}
          </div>
        </div>
      </div>
    </article>
<div class="arrow-down text-center">
  {#TODO image arrow down#}
  PIJL OMLAAG
</div>
  </div>
</section>

{#hier het html stuk, tekst wordt nooit aangepast#}
<div class="html-purchases">
  <section class="gray-block">
    <div class="container text-center">
      <h3>Waarom kopen?</h3>
      <p>Je wil niet alleen rijden, maar ook weten waarom je wagen nu wel rijdt
        en straks misschien weer niet;</p>
      <p>Je geeft er niet om de handen uit de mouwen te steken, misschien wil
        je wel je handen vuil maken - nog beter; </p>
      <p>Voor jou is op tijd ter bestemming komen enkel een optie;</p>
      <p>Tijdens het rijden de vogels in de natuur horen fluiten en de wind door
        je haren voelen is voor jou de max - een verkoudheid of een stijve nek
        neem je er graag bij....</p>
      <p>Je wil nog voelen dat je per auto rijdt, je wil de weg voelen..</p>


    </div>
  </section>
  <section class="gray-block">
    <div class="container text-center">
      <h3>Waarom niet kopen?</h3>
      <p>Je wil een goedkope cabrio; </p>
      <p>Je houdt van comfort; </p>
      <p>Je denk dat auto's repareren enkel iets is voor de wegenwacht; </p>
      <p>Je wil alleen maar rijden met het ding;</p>
      <p>Je wil ook wel eens met de kap dicht rijden, maar je bent 1,90 meter
        groot.</p>
      <p> Begrijp je? Ja? Dan is de Spit waarschijnlijk iets voor jou! Nee? Misschien
        zou je beter uitkijken naar een Escort of een Astra cabrio of misschien
        een Mazda MX5.</p>
    </div>
  </section>

  <section class="gray-block">
    <div class="container text-center">
      <h3>Ik wil een Spitfire!</h3>
      <p>
        Nu je zo ver gelezen hebt denk ik wel dat je interesse hebt voor een Spitfire,
        misschien wil je er wel één. Je zag anderen genieten van hun Triumph en
        misschien kon je al eens meerijden. Misschien is het een jeugddroom en
        stond je met je neus tegen het raam van de Leyland showroom te dromen
        van die lage sportwagen. Na al die jaren voel je dat het tijd wordt je
        droom eindelijk te laten uitkomen. </p>
    </div>
  </section>

  <section class="gray-block">
    <div class="container text-center">
      <h3>Goede raad.</h3>
      <p>
        Tijd voor een beetje goede raad. Vergeet niet dat Spitfire's indertijd
        redelijk goedkope sportwagentjes waren en bijgevolg vaak gekocht werden
        door jonge gasten die er dan ook intensief gebruik van maakten. Haast
        en spoed zijn zelden goed. Hou rekening met enkele essenti&euml;le zaken. </p>
      <p>
        Probeer de zaak rationeel te bekijken - benader de wagen met gemengde
        gevoelens.<br>
        Het uitzicht is enkel oppervlakkig. Er staan veel glimmende Spitfire's
        te koop, prachtig geschilderd en blinkend chroom maar onderhuids erg ziek.
        Haastig gerestaureerd met het oog op een snelle en dure verkoop. Soms
        kan je ook een vuile en onverzorgde wagen vinden die toch een goede basis
        is voor restauratie. </p>
      <p>
        Gebruik voor uw aankoop enkel spaargeld.<br>
        Oude Engelse sportwagens kosten niet alleen bij aankoop, ze rijdende houden
        kost nog meer. Wees er zeker van dat de aankoop geen afbreuk doet aan
        uw huidige levensstijl. De uitgaven zijn niet gedaan met de aankoop,
        ver van dat. </p>
      <p>
        Koop de beste wagen die je kan vinden en betalen.</p>
      <p>
        Een wrak kopen om te restauren tot een schitterende oldtimer klinkt romantisch,
        maar is het helemaal niet! Het vraagt veel tijd, ruimte, kennis en geduld.
        Vanuit economisch oogpunt is het meestal ook zinloos. Een Spitfire restaureren
        betaalt zich zelden terug, zelfs als men zijn eigen werkuren niet telt.
        Je bent wel zeker dat je de wagen hebt die je wil, in de juiste kleur
        en misschien zonder fouten voor de komende jaren, maar dit privilege zal
        je veel geld, tijd en frustratie kosten. <br>
        Meestal ben je beter af met een goede en mooie wagen tegen een correcte
        prijs. Kijk uit naar een wagen waar anderen reeds hun tijd en geld aan
        besteed hebben Dit zal ook tijd en moeite kosten, maar het is meestal
        goedkoper en zeker sneller dan zelf een wagen heropbouwen. </p>

    </div>
  </section>

  <section class="gray-block">
    <div class="container text-center">
      <h3>Hou het droog</h3>
      <p>
        Belgié en Nederland zijn nu niet bepaald droge woestijngebieden. Een spitfire
        is een oude Engelse auto die zeker zal roesten als hij buiten moet slapen,
        hoe vaak je de wagen ook wast en vertroetelt. Buitenslapers roesten snel
        en de onderhoudskosten swingen de pan uit. <br>
        De enige manier om dit te vermijden is de wagen steeds droog te stallen.
        Heb je geen droge plaats of garage, zoek die dan eerst. Zoek pas nadien
        een Spitfire!
      </p>
    </div>
  </section>

  <section class="gray-block">
    <div class="container text-center">
      <h3>Word lid van een club.</h3>
      <p>
        Merkenclubs zijn er niet alleen om goedkoop aan een verzekering te geraken.
        Ze zijn er ook en vooral om kennis op te doen. Bezoek eens een meeting,
        maak kennis met andere leden en luister naar hun verhalen. Uit de vergissingen
        van anderen kun je ongetwijfeld veel leren. Aangezien iedereen dezelfde
        passie deelt zijn de meeste leden graag bereid je te helpen met raad en
        daad. Zij kunnen je eventueel ook helpen bij een zoektocht naar een mooie
        Spitfire.</p>

    </div>
  </section>

  <section class="gray-block">
    <div class="container text-center">
      <h3>Een beetje gevoel voor mechaniek.</h3>
      <p>
        Een Triumph Spitfire is geen gemiddelde moderne wagen. In tegenstelling
        tot moderne wagens moet de motorkap van de Spit vaak open, al was het
        maar om de vitale vloeistofpeilen te controleren. Zwarte handen horen
        daarbij.
      </p>
      <p>Het is niet gewoon een auto, het is een hobby<br>
        En zoals elke hobby vraagt ook deze tijd en geld. </p>
    </div>
  </section>

  <section class="gray-block">
    <div class="container text-center">
      <h3>
        De jacht kan nu beginnen.</h3>
      <p>
        Er zijn nog heel wat Spitfire's te vinden, sommige in goede originele staat, de meeste zien er enkel goed uit.
        Verken de markt, lees de advertenties in gespecialiseerde bladen en club magazines. Meestal kan men bij de
        clubleden mooie en goede wagens vinden tegen correcte prijzen. Nog een reden om lid te worden van een club.
        Dergelijke wagen kopen is altijd een emotionele kwestie. Als men rationeel denkt zal men geen zuurverdiende centen
        uitgeven voor een oude, redelijk breekbare wagen, zonder dak en met enkel 2 zitplaatsen. Ga daarom liefst met 2
        kijken, zo doe je geen domme dingen en laat je je niet verblinden door blinkende verf en een fris interieur.
        Trek op pad met zaklamp en magneet. Vergeet je vuile kleren niet!</p>
      <p>Meer technische aankooptips op de pagina "techniek"</p>
    </div>
  </section>
</div>
{#end html-purchases#}

{#Region footer contact#}
{% include directory ~ '/templates/partials/footer-contact.html.twig' %}

{#Region footer#}
{% include directory ~ '/templates/partials/page_footer.html.twig' %}
