{{ attach_library('spitfireclub/backstretch') }}

{# Menu left #}
{% include directory ~ '/templates/partials/menu_left.inc.html.twig' %}

{#Lid worden#}
{% include directory ~ '/templates/partials/member-join.inc.html.twig' %}

<section class="home-container">
  {# Menu top #}
  {% include directory ~ '/templates/partials/menu_top.inc.html.twig' %}
  <div class="container site-branding">
    <div class="col-md-2 logo">
      <img src="{{ base_path ~ directory }}/images/logo.png" alt="Logo Spitfireclub Vlaanderen">
    </div>
    <div class="col-md-10 title">
      <h1>SPITFIRECLUB VLAANDEREN</h1>
    </div>
  </div>
  <div class="fbva-logo">
    <img src="{{ base_path ~ directory }}/images/FBVA-BFOV-128.png" alt="FBVA-BFOV">
  </div>
</section>

